<footer class="container-bg">
  <!-- Grid container -->
  <div class="container">

    <div class="social-container">

      <div class="item-container item-ig">
        <a class="item ig" href="https://www.instagram.com/lisandro.funes/" target="_blank"><i class="bi bi-instagram"></i></a>
      </div>

      <div class="item-container item-in">
        <a class="item in" href="https://www.linkedin.com/in/lisandrofunes/" target="_blank"><i class="bi bi-linkedin"></i></a>
      </div>

      <div class="item-container item-gh">
        <a class="item gh" href="https://github.com/lisandrofunes" target="_blank"><i class="bi bi-github"></i></a>
      </div>

    </div>

  
  </div>

  <!-- <div class="copyright text-center">
    © 2023 Lisandro Funes: Todos los derechos reservados
     {{'footer.rights' | translate }}
  </div> -->

</footer>