<div id="about" class="container-bg">
  <div class="container" >

    <div class="title_about">
      <h3>Sobre mí</h3>
    </div>

    <div *ngFor="let about of sobreMi">
      <button class="btn btn-warning" *ngIf="admin" routerLink="/sobreMi/update/{{about.id}}">Modificar</button>
    </div>

    <div class="sobreMi-container" *ngFor="let about of sobreMi">
      <!-- <div class="button">
        <button class="btn btn-warning" *ngIf="admin" routerLink="/sobreMi/update/{{about.id}}">Modificar</button>
      </div> -->

      <div *ngFor="let fileHandle of about.dataImage" class="picture">
        <img class="img-fluid pic" [src]="fileHandle.url" alt="">
      </div>

      <div class="description">
        <p>{{about.texto}}</p>
      </div>

    </div>
    <!-- <br><br>
        {{'about.p2' | translate }}<br><br>
        {{'about.p3' | translate }}<br><br>
        {{'about.p4' | translate }}<br><br>
      </p> -->

    <!-- <button class="pre-btn" (click)="scrollL()"><img src="https://api.iconify.design/material-symbols:arrow-back.svg?color=%23ffffff" alt=""></button>
      <button class="nxt-btn" (click)="scrollR()"><img src="https://api.iconify.design/material-symbols:arrow-back.svg?color=%23ffffff" alt=""></button>

      <div class="skill-container">

        <div id="card_0" class="item-card">
          <div class="item-image">
            <i class="devicon-html5-plain"></i>
          </div>
          <div class="description-card">
            <p class="title-card"><strong>HTML</strong></p>
          </div>
        </div> 

        <div id="card_0" class="item-card">
          <div class="item-image">
            <i class="devicon-css3-plain"></i>
          </div>
          <div class="description-card">
            <p class="title-card"><strong>CSS</strong></p>
          </div>
        </div> 

        <div id="card_0" class="item-card">
          <div class="item-image">
            <i class="devicon-javascript-plain"></i>
          </div>
          <div class="description-card">
            <p class="title-card"><strong>JavaScript</strong></p>
          </div>
        </div> 

        <div id="card_0" class="item-card">
          <div class="item-image">
            <i class="devicon-angularjs-plain"></i>
          </div>
          <div class="description-card">
            <p class="title-card"><strong>Angular</strong></p>
          </div>
        </div> 

        <div id="card_0" class="item-card">
          <div class="item-image">
            <i class="devicon-typescript-plain"></i>
          </div>
          <div class="description-card">
            <p class="title-card"><strong>TypeScript</strong></p>
          </div>
        </div> 

        <div id="card_0" class="item-card">
          <div class="item-image">
            <i class="devicon-bootstrap-plain"></i>
          </div>
          <div class="description-card">
            <p class="title-card"><strong>Bootstrap</strong></p>
          </div>
        </div> -->
    <!-- </div> -->

  </div>
</div>