<section id="about" class="section_about">
  <div class="container">
    <div class="title_about"><h3>{{'about.title' | translate }}</h3></div>
  </div>
  <div class="container">
    <div class="picture">
      <img class="img-fluid pic" src="" alt=""> 
    </div>
    <div class="description">
      <p>{{'about.p1' | translate }}<br>
        {{'about.p2' | translate }}<br>
        {{'about.p3' | translate }}<br><br>
        {{'about.p4' | translate }}<br><br>
        {{'about.p5' | translate }}<br><br>
        {{'about.p6' | translate }}
      </p>
    </div>
  </div>

    <!-- <div class="background-about">
      <div class="container">

        <div class="row row_about">

          <div class="col-5 col_i_about">
            <img class="img-fluid pic" src="" alt="desktop"> 
          </div>

          <div class="col-7 col_d_about">
            <div class="row title_about"><h3>{{'about.title' | translate }}</h3></div>
            <div class="row description_about">
              <p>{{'about.p1' | translate }}<br><br>
                {{'about.p2' | translate }}<br>
                {{'about.p3' | translate }}<br><br>
                {{'about.p4' | translate }}<br><br>
                {{'about.p5' | translate }}<br><br>
                {{'about.p6' | translate }}
              </p>
            </div>

          </div>

        </div>

      </div>
    </div> -->
  </section>