.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;  
}

h1{font-size: calc(1.375rem + 5vw);}
h2{font-size: calc(1.375rem + 2.5vw);}
h3{font-size: calc(1.375rem + 1vw);}
p{font-size: 1.2em;}

.section_main{
    background: linear-gradient(305deg, var(--main) 50%, var(--background1) 50%);
} 

/* .blob{
    position: absolute;
    width: 30vw;
    height: 30vw;
    background-color: var(--main2);
    border-radius: 70% 30% 70% 30% / 70% 70% 30% 30% ;
    max-width: 500px;
    max-height: 500px;
    min-width: 300px;
    min-height: 300px;
} */

.picture{
    position: relative;
    width: 30vw;
    max-width: 500px;
    min-width: 220px;
    background-color: var(--main2);
    border-radius: var(--blob-radius);
}

.pic{
    position: relative;
    border-radius: 0% 50% 70% 30% / 70% 0% 40% 30%;
}
.row_main{
    height: 100vh;
    color: var(--color2);
}

.col_i_main, .col_d_main{
    align-self: center;
}

.presentation{
    color: var(--color2);
}

@media (max-width: 992px) {
    .section_main{
        background: linear-gradient(180deg, var(--main) 45%, var(--background1) 0%);
    } 

    .container{
        justify-content: center;
        flex-direction: column-reverse;
        gap: 2em;
    }

    .presentation{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* .picture{
        width: 50%;
    } */
}