<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

<div id="portfolio" class="container-bg"> 
  <div class="container">
      <div class="title"><h3>{{'portfolio.title' | translate }}</h3></div>
      <button class="pre-btn" (click)="scrollL()"><img src="https://api.iconify.design/material-symbols:arrow-back.svg?color=%23ffffff" alt=""></button>
      <button class="nxt-btn" (click)="scrollR()"><img src="https://api.iconify.design/material-symbols:arrow-back.svg?color=%23ffffff" alt=""></button>
  
      <div id="product-container" class="portfolio-container">
        
        <div id="card_0" class="item-card">
          <div class="item-image">
            <img src="../../assets/portfolio_tecnobyte.png" class="portfolio-thumb" alt="">
          </div>
          <div class="description-card">
            <h4 class="title-card"><strong>Tecnobyte</strong></h4>
            <p class="description">{{'portfolio.card_0.description' | translate }}</p>
            <div class="technology">
              <i class="devicon-angularjs-plain"></i>
              <i class="devicon-html5-plain"></i>
              <i class="devicon-css3-plain"></i>
              <i class="devicon-typescript-plain"></i>
              <i class="devicon-bootstrap-plain"></i>
            </div>
            <a href="https://tecnobytebv.web.app/" target="_blank" class="visit-btn">{{'portfolio.visit' | translate }}</a>
          </div>
        </div> 

        <div class="item-card">
          <div class="item-image">
            <img src="../../assets/portfolio_calculator.png" class="portfolio-thumb" alt="">
          </div>
          <div class="description-card">
            <h4 class="title-card"><strong>{{'portfolio.card_1.title-card' | translate }}</strong></h4>
            <p class="description">{{'portfolio.card_1.description' | translate }}</p>
            <div class="technology">
              <i class="devicon-html5-plain"></i>
              <i class="devicon-css3-plain"></i>
              <i class="devicon-javascript-plain"></i>
            </div>
            <a href="https://lisandrofunes.github.io/calculadora/" target="_blank" class="visit-btn">{{'portfolio.visit' | translate }}</a>
          </div>
        </div> 
      
        <div class="item-card">
          <div class="item-image">
            <img src="../../assets/portfolio_qr-code.png" class="portfolio-thumb" alt="">
          </div>
          <div class="description-card">
            <h4 class="title-card"><strong>{{'portfolio.card_2.title-card' | translate }}</strong></h4>
            <p class="description">{{'portfolio.card_2.description' | translate }}</p>
            <div class="technology">
              <i class="devicon-html5-plain"></i>
              <i class="devicon-css3-plain"></i>
              <i class="devicon-javascript-plain"></i>
            </div>
            <a href="https://lisandrofunes.github.io/qrcode/" target="_blank" class="visit-btn">{{'portfolio.visit' | translate }}</a>
          </div>
        </div> 

          
      </div>
  </div>
</div>

<!--  
<section id="portfolio" class="section_portfolio">
    <div class="title_portfolio"><h3>{{'portfolio.title' | translate }}</h3></div>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/image-dark.png" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">Calculadora</h5>
                  <p class="card-text">Calculadora para realizar operaciones basicas, con la posibilidad de intercambiar entre modo claro y modo oscuro.</p>
                  <div class="technology">
                      <i class="devicon-html5-plain"></i>
                      <i class="devicon-css3-plain"></i>
                      <i class="devicon-javascript-plain"></i>
                  </div>
                  <a href="https://lisandrofunes.github.io/calculadora/" target="_blank" class="btn btn-primary">{{'portfolio.visit' | translate }}</a>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card" style="width: 18rem;">
              <img src="../../assets/image-dark.png" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Codigos QR</h5>
                <p class="card-text">Aplicacion que permite generar y escanear codigos qr, con la opcion de descargar y compartir los codigos generados.</p>
                <div class="technology">
                  <i class="devicon-html5-plain"></i>
                  <i class="devicon-css3-plain"></i>
                  <i class="devicon-javascript-plain"></i>
                </div>
                <a href="https://lisandrofunes.github.io/qrcode/" target="_blank" class="btn btn-primary">{{'portfolio.visit' | translate }}</a>
              </div>
            </div>
          </div>
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
  </div>
    



    



</section>
-->